@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Patrick+Hand&family=Play&family=Raleway:wght@200;300;400&display=swap');
:root{
    --color1: rgba(252,53,47,255);
    --color2: rgba(28,75,153,255);
    --color3: rgba(250, 255, 255, 255);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --subtitulos: 500px;
    --margenes: 30px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
    background: var(--fondo);
}

/*PRELOADER*/
.hidden{
    overflow: hidden;
}

.centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #1c4b99;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

/* Header */

header{
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, 
  rgba(28,75,153, .664), 
  rgba(252, 119, 47, 0.45),
  /*rgba(252,53,47,.45), */
  rgba(255,255,255,.45)
  ),url(../img/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header__informatica{
  background: url(../img/informatica1.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
  
nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  z-index: 20;
}
  
.nav1{
  background: transparent;
  height: 80px;
  color: #fff;
}
  
.nav2{
  background: var(--fondo);
  height: 100px;
  color: #000;
}
  
.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}
  
nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}
  
nav .enlaces a:hover{
  border-bottom: 3px solid #1c4b99;
  transition: 0.6s;
}

.logo, .logo img{
  height: 90px;
}
  
.icono{
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;
}
  
.textos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
  
.textos>h1{
  font-size: 80px;
}
  
.textos>h2{
  font-size: 30px;
  font-weight: 300;
}

/* Main */
  /*directivos*/
.contenedor{
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color3);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtititulos); 
  font-weight: 300;
  color: var(--color1); 
}

.team.contenedor h3{
  color: var(--color2); 
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card{
  width: 26%;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
  overflow: hidden;
  height: 300px;
}

.people{
  height: 80%;
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

.after::after{
  content: '';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}

  /*orientaciones*/
.about{
  background-color: rgb(28,75,153) ;
  height: auto;
  margin: auto;
  padding: var(--margenes) 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.about h3{
  font-size: var(--titulos);
  color: var(--color3);
  margin-bottom: var(--espacios);
}
.about p{
  font-size: var(--subtititulos); 
  font-weight: 300;
  color: var(--color3); 
}

/*ESTILO TARJETA*/
.container-orientaciones{
	max-width: 2000px;
	margin:40px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta{
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta figure img{
  background-size: cover;
  object-fit: cover;
}
/*
.contenedor_tarjeta:hover figure img {
	 Si queremos podemos aplicar un efecto blur a nuestra imagen al girar 
	filter:blur(2px);
}*/

figure{
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all ease .5s;
  object-fit: cover;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	backface-visibility: hidden;
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo{
	color: #fff;
	font-weight: normal;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
  text-align: center;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Raleway', sans-serif;
	line-height: 22px;
	font-size: 14px;
  color: white;
  text-align: justify;
}

/*Galeria*/

.work h3{
  color: var(--color2);
}

.botones-work{
  overflow: hidden;
  /*border-radius: 5px;*/
}

.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  border-radius: 10px;
  list-style: none;
  color: var(--color1);
}

.botones-work li:hover{
  background: var(--color1);
  color: #fff;
  cursor: pointer;
}

.botones-work .active{
  background: var(--color1);
  color: #fff;
}

.galeria-work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria-work .cont-work{
  width: 31%;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
  height: 300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
}

.img-work{
  height: 90%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textos-work{
  height: 10%;
  color: var(--color2);
}

.textos-work h4{
  line-height: 30px;
  font-weight: 300;
}

/*FOOTER*/
.main-footer{
  background: rgb(28,75,153);
  color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}

.container--footer{
  display: flex;
}

.main-footer [class*="icon-"]{ 
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-footer [class*="icon-"]:before{
  position: relative;
  top: 3px;
  right: 10px;

}


.column--50{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column--50__ubication{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.column__title{
  text-align: left;
  margin-bottom: 15px;
  font-size: 1.8em;
  font-family: 'Raleway';
}

.column__title__ubication{
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8em;
  font-family: 'Raleway';
}

h2 .column__title{
  text-align: center;
  font-size: 1.5em;
}

.column__txt{
  margin-bottom: 15px;
  font-size: .95em;
  font-family: 'Raleway';
  line-height: 2.7em;
  letter-spacing: 1px;
}

.column__ubi{
  text-align: center;
}

.copy{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1.15em;
  font-family: 'Raleway';
}

/*Acordeon materias*/
.accordion{
  font-family: 'Raleway';  
}
button.accordion-button{
  background-color: #1c4b99;
  color: white;
}

.accordion-body a{
  text-decoration: none;
}
/*Historia*/
.history{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.contenedor__history h3{
  font-size: var(--titulos);
  color: var(--color2);
  margin-bottom: var(--espacios);
}

.contenedor__history p{
  font-size: var(--subtititulos); 
  font-weight: 300;
  color: var(--color1); 
}

.history__text p{
  text-align: justify;
  font-weight: 400;
  line-height: 2.7em;
  letter-spacing: 0.75px;
}

.history__text ul{
  list-style-type:  disclosure-closed;
  list-style-position: inside;
  line-height: 2em;
  text-indent: 80px;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.history__text ul li::marker {
  color: rgb(28,75,153);
}

/*RESPONSIVE*/

@media screen and (max-width: 1200px){
  .container--footer{
    flex-wrap: wrap;
  }
  .column--50{
    width: 99%;
    margin-top: 25px;
  }
  .column--50__ubication{
    width: 100%;
  }
  .column__ubi iframe{
    width: 800px;
    height: 400px;
  }  
  .column__txt{
    line-height: 1.7em;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 992px){
  .column__ubi iframe{
    width: 720px;
    height: 360px;
  }
  .content-card{
    width: 35%;
    margin-bottom: var(--margenes);
  }
}

@media screen and (max-width: 768px){
  .nav2{
    color: #fff;
  }
  .icono{
    display: block;
    cursor: pointer;
  }
  .enlaces{
    position: fixed;
    top: 80px;
    background:  rgba(28,75,153, .664);
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }
  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background:  rgba(28,75,153, .664);
    color: #fff;
  }
  nav .enlaces a:hover{
    border-bottom: 3px solid rgba(255, 255, 255, 0.18);
    transition: 0.6s;
  }
  .column__ubi iframe{
    padding: auto;
    width: 560px;
    height: 300px;
  }
  :root{
    --margenes: 30px;
    --espacios-contenido: 15px;
  }
  .galeria-work .cont-work{
    width: 48%;
    margin-bottom: var(--espacios-contenido);
  }
  .content-card{
    width: 48%;
    margin-bottom: var(--margenes);
  }
  /*
  .textos>h1{
    font-size: 70px;
  }
  .textos>h2{
    font-size: 35px;
  }
 */
}
@media screen and (max-width: 576px){
  .column__ubi iframe{
    width: 325px;
    height: 200px;
  }
  .galeria-work .cont-work{
    width: 75%;
  }
}

@media screen and (max-width: 508px){
  .column__ubi iframe{
    width: 325px;
    height: 200px;
  }
  .column__txt{
    text-align: center;
  }

  .column__title{
    text-align: center;
  }
  .content-card{
    width: 95%;
    height: 300px;
    width: 270px;
  }
}


